@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

body{
    background-image: url(https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
}
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
.slide {
    display: none;
  }
.logout{
    position: absolute;
    top: 0px;
    left: 95%;
}
img{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 15%;
    left: 35%;
    border: #070707;
    border-radius: 20%;
}
.number{
    position: absolute;
    top: 68%;
    left: 60%;
}
  .prev, .next {
    cursor: pointer;
    position: absolute;
    margin-top: -22px;
    user-select: none;

    top: 40%;
    border-radius: 3px;

    width: 10px;
    padding: 16px;
    font-weight: bold;

    color: white;
    font-size: 18px;
    transition: 0.6s ease;
  }
  .prev{
    left: 32.8%;

  }
  .next {
    left: 61%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .name{
    top: 65%;
    left: 35%;
  }
  .artist{
    top: 67%;
    left: 35%;
  }
  .year{
    top: 69%;
    left: 35%;
  }
  .category{
    top: 71%;
    left: 35%;
  }
  .medium{
    top: 73%;
    left: 35%;
  }
  .description{
    top: 75%;
    left: 35%;
  }
  /* Caption text */
  .text {
    color: black;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 500px;
    height: 50px;

    margin-top: 30px;
    
  }

  #justinIsCool{
    background-color: aliceblue;
    width: 700px;
    height: 250px;

    border-radius: 40px;
    border-style: solid;
    border-color: black;

    margin-left: 570px;
    margin-top: 650px;
    
  }
  
 
 .header{
  position: absolute;
  top: 0;
 
  width: 100%;
  background-color: black;
  padding: 20px 5px;
  overflow:hidden;
 }

 .header a{
  color: white;
  padding: 15px;
  border-radius: 5px;
 }

 .header a:hover{
    background-color: grey;
    color: black;
 }

 .header a.active{
    background-color: greenyellow;
    color: white;
 }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  #lol{
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0px;
    background-color:black;
    height: 40px;
  }
  
  .learnMore{
    position: absolute;
    
    top: 87%;
    left: 43%;
  }
  .findMe{
    position: absolute;
    
    top: 88.6%;
    left: 52.5%;
  }
  
  