doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document  
        style 
            include ../styles.css 
    body#body
        div
            br
            h1 Paint 
            br
            br
            br
            br
            p Welcome to Paint and Purchase
            br
            br
            p Users name
            input(type="text", name="", placeholder = "Username",value = "", id = "usernameCreate")
            p Password
            input(type="text", name="", placeholder = "Password",value="", id = "passwordCreate")
            br
            br
            a#login(href="/") Return to login page
            br
            br
            br
            button(type="submit", onclick = "createAccount()") Create
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br  
            br
            br
            br
            p#newTo Create and view the best
            script(src = "/client.js")

        



