doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document  
        style 
            include ../styles.css 
    body#body
        div
            br
            h1 Paint and Purchase
            br
            br
            br
            br
            p Welcome to Paint and Purchase
            br
            br
            p Users name
            input(type="text", name="", placeholder = "Username", value = "", id = "username")
            p Password
            input(type="text", name="", placeholder = "Password", value = "", id="password")
            br
            br            
            br
            br
            button(type="submit", onclick = "loginAccount()") Sign in
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br  
            br
            br
            br
            p#newTo New to Paint and Purchase?
            a#createAccount(href="http://localhost:3000/createUser") Create Account
            script(src = "/client.js")

        



